@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./App.sass"; */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #18181B;
  transform: translateY();
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.insta {
  color: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.imagesfont {
  font-family: 'Playfair Display', serif;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3e3c3c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.download {
  scale: 0;
}

.images:hover>.download {
  scale: 1;
}

.image{
  @apply md:w-11/12 md:h-[712px] md:m-6 cursor-pointer w-full h-auto my-4 rounded-lg hover:shadow-inner;
}
.image_span{
  @apply flex relative images flex-col md:w-11/12 md:h-[712px] justify-center items-center;
}
